// Colors
$color-primary: #14aaed;

$color-grey-light-1: #e8e8e8;
$color-grey-light-2: #aaaaaa;

// Fonts
$font-primary: "Nunito", sans-serif;
$font-display: "Josefin Sans", sans-serif;

// Breakpoints
$bp-largest: 75em; // 1200px
$bp-large: 62.5em; // 1000px
$bp-medium: 50em; // 800px
$bp-small: 37.5em; // 600px